@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/static-website/yoga-bg.png');
    background-size: cover;
}

.heading {
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #132d84;
    font-weight: 900;
}

.yoga-girl-with-headphones-img {
    height: 50vh;
    width: 90vw;
    margin-top: 60px;

}

.yoga-home-page-heading {
    font-family: Roboto;
    font-size: 15px;
    padding: 5px;
    color: #323f4b;
    font-weight: 600;
    text-align: center;
}

.button {
    font-family: Roboto;
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    background-color: #132d84;
    margin: auto;
}

.bg-color {
    background-color: #ffedcb;
}

.yoga-girl-without-headphones-img {
    height: 250px;
    width: 250px;
    padding: 25px;
}

.types-heading {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #132d84;
}

.types-cards {
    background-color: #ffe2ab;
}

.cards-image {
    height: 100px;
    width: 100px;
}

.types-cards {
    margin: 15px;
    border-radius: 15px;
}

.types-card-heading {
    font-family: Roboto;
    font-size: 15px;
    color: #132d84;
    font-weight: bold;
    padding: 5px;
}

.types-card-description {
    font-family: Roboto;
    font-size: 12px;
    padding: 5px;
    color: #132d84;
    font-weight: 500;
}