@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png');
    background-size: cover;
    height: 100vh;
}

.news-page-card {
    background-color: #ffffff;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding: 9px;
}

.news-card-title {
    font-size: 12px;
    color: #7b8794;
    font-family: Roboto;
    padding: 15px;
}

.news-card-heading {
    font-size: 18px;
    color: #323f4b;
    font-weight: 500;
    padding: 10px;
}

.news-card-description {
    color: #7b8794;
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;


}

.Read-more {
    background-color: #323f4b;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    width: 100px;
    height: 40px;
    border-style: solid;
    border-width: 0px;
    border-color: #d7dfe9;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
}